In [24]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

## Loops voorbeeld 1: list
Het komt regelmatig voor dat je moeten loopen over een list. Je wilt dan vaak iets doen met alle getallen in een list. Vervolgens is het dan ook nodig dat je die getallen ergens opslaat, zodat je de berekende getallen kunt hergebruiken. Hieronder volgt hiervan een voorbeeld:
- We willen alle getallen in de list top5_stores vermenigvuldigen met 2.
- De nieuw berekende getallen voegen we vervolgens toe aan de list top_5_keer2. **let op: je moet een lege list aanmaken voordat je begint met de loop.**
- In de loop wordt ieder getal in de list met 2 vermenigvuldigt. De uitkomst wordt opgeslagen in stk2.
- Vervolgens voegen we deze uitkomst met append(stk2) toe aan de nieuwe list.

In [25]:
top5_stores = [2, 13, 14, 4, 20]
top_5_keer2 = []
#begin hier:
for store in top5_stores:
    stk2 = store * 2
    top_5_keer2.append(stk2)
print(top_5_keer2)

[4, 26, 28, 8, 40]

## Loops voorbeeld 2: dataframe
Omdat we veel werken met dataframes is het soms nodig om over dataframes te "loopen". Over een dataframe loopen kan niet rechtstreeks zoals bij een list. We hebben hiervoor een extra method nodig: iterrows(). Hieronder volgt een voorbeeld (het is overigens mooier om dit zonder loop te doen):
- We willen per winkel (=per regel) weten hoeveel medewerkers er werken per 1000 vierkante meter. We kunnen dit berekenen door de kolom 'Staff' te delen door de kolom 'Floor Space' en dit vervolgens te vermenigvuldigen met 1000.
1. We maken een lege list aan: staff_sqm_list
2. We 'loopen' over het dataframe st. Omdat we de inhoud van iedere regel uit het dataframe willen kunnen gebruiken voegen we .iterrows() toe. 
3. Omdat we iterrows gebruiken wordt de variable store een zogenaamde tuple. In dit geval kun je de tuple op dezelfde manier gebruiken als een list. Bij iedere iteratie (iedere loop) wordt de variabele store gevuld met het regelnummer (index) en de inhoud van de regel. Dat ziet er ongeveer als volgt uit: (0, inhoud regel). Om de inhoud van de regel te kunnen gebruiken hebben we daarom store[1] nodig. We bereken dan ook het aantal medewerkers per 1000 vierkante op basis van store[1]. Dit getal wijzen we toe aan de variabele staff_sqm.
4. In de laatste stap van de loop voegen we het getal toe aan de list staff_sqm_list.
5. Vervolgens maken we een nieuwe kolom 'Staff per 1000 sqm' waaraan we de inhoud van de list toewijzen.

In [26]:
st = pd.read_csv('storedata_clean.csv', sep = ';')
# voorbeeld:
staff_sqm_list= []

for store in st.iterrows():    
    staff_sqm = store[1]['Staff'] / store[1]['Floor Space'] * 1000
    staff_sqm_list.append(staff_sqm)   

st['Staff per 1000 sqm'] = staff_sqm_list
st

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance,Staff per 1000 sqm
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1138224,1006986,1002340,3,238,16,16,3410865,Good,0.485804
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1015321,1012182,1008436,4,384,15,19,4034051,Excellent,0.430826
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1281661,1104490,1011395,11,219,13,18,2297810,Poor,0.162760
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1022959,1009496,1002169,5,261,15,12,2398990,Poor,0.409548
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1085170,1003137,1002513,7,200,19,13,2288235,Poor,0.619086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vit√≥ria,7,14120,110,Yes,13,Retail Park,...,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable,0.495751
132,Sandy,UK,96858,Mat√≠as,6,11205,103,No,15,Shopping Centre,...,1424404,1378708,1160929,5,203,13,18,2589339,Reasonable,0.535475
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1359511,1200486,1063718,7,341,18,18,2583755,Reasonable,0.432366
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1245725,1127276,1045154,11,261,14,10,950924,Poor,0.386698
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1307752,1159859,1020940,8,276,18,13,3485295,Good,0.622062

## Voorbeeld 3: dataframe en control flow (if, else)
Dit is een uitbreiding van voorbeeld 2. We berekenen op dezelfde wijze het aantal medewerkers per 1000 vierkante meter. We wijzen dit weer toe aan dezelfde variabelen en voegen dit op dezelfde wijze toe aan de list staff_sqm_list. Maar we willen nu ook weten of de werkdruk (workload) in een winkel hoog of laag is. Als er veel mensen werken per vierkante meter dan is werkdruk lager dan als er weinig mensen werken per vierkante meter. 
- We hanteren daarom de volgende regel. Als het aantal medewerkers per 1000 vierkante meter lager is dan 0.3 dan is de werkdruk 'high'. In de andere gevallen is de werkdruk 'low'.
1. We maken de lege list workload aan.
2. We voegen een if-statement toe waarin we checken of staff_sqm lager is dan 0.3. Als dit het geval is dan wordt het woord 'high' toegevoegd aan de list workload.
3. Het else-statement zorgt ervoor dat in de andere gevallen het woord 'low' wordt toegevoegd aan workload.
4. In de laatste stap wordt de workload list in de niewe dataframe kolom 'Workload' gezet.

In [22]:
st = pd.read_csv('storedata_clean.csv', sep = ';')

staff_sqm_list= []
workload = []
for store in st.iterrows():    
    staff_sqm = store[1]['Staff'] / store[1]['Floor Space'] * 1000
    staff_sqm_list.append(staff_sqm) 
    if staff_sqm < 0.3:
        workload.append('high')
    else:
        workload.append('low')
    
st['Staff per 1000 sqm'] = staff_sqm_list
st['Workload'] = workload
st

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance,Staff per 1000 sqm,Workload
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1006986,1002340,3,238,16,16,3410865,Good,0.485804,low
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1012182,1008436,4,384,15,19,4034051,Excellent,0.430826,low
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1104490,1011395,11,219,13,18,2297810,Poor,0.162760,high
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1009496,1002169,5,261,15,12,2398990,Poor,0.409548,low
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1003137,1002513,7,200,19,13,2288235,Poor,0.619086,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vit√≥ria,7,14120,110,Yes,13,Retail Park,...,1141898,1041041,6,202,18,14,2581954,Reasonable,0.495751,low
132,Sandy,UK,96858,Mat√≠as,6,11205,103,No,15,Shopping Centre,...,1378708,1160929,5,203,13,18,2589339,Reasonable,0.535475,low
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1200486,1063718,7,341,18,18,2583755,Reasonable,0.432366,low
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1127276,1045154,11,261,14,10,950924,Poor,0.386698,low
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1159859,1020940,8,276,18,13,3485295,Good,0.622062,low